.registration {
  border: 5px ridge #C0C0C0;
  border-radius: 10px;
  width: 450px;
  height: 630px;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
}

.heading {
  text-align: center;
  font-size: 35px;
  color:#303030;
}

input[type=text], input[type=email],input[type=password] {
  width: 80%;
  padding: 15px;
  margin: 5px 30px 22px 30px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:hover{
  border: 1.5px solid #B22222;
  opacity:1.0;
}

input[type=email]:hover{
  border: 1.5px solid #B22222;
  opacity:1.0;
}

input[type=password]:hover{
  border: 1.5px solid  #B22222;
  opacity:1.0;
}

.remember{
  margin-left: 30px;
}

.log-in{
  background-color: #A52019;
  color: #C0C0C0;
  padding: 14px 20px;
  margin-left:90px;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.9;
  border-radius:10px ;
  font-size: 15px;
}

.is-sign-in {
  display: flex;
}

.is-sign-in p {
    margin: 20px auto;
}

.with-google {
  display: flex;
  flex-direction: column;
}

.with-google p {
  margin: 0 auto;
}

.google-auth {
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  height: 40px;
}
