<ng-container *ngIf="isLogin; else signIn">
  <div class="registration">
  <h1 class="heading" style="border-bottom: solid 2px #C0C0C0;"> Sign up </h1>
  <input type="text" name="name" required  placeholder="Введите имя">
  <p><input type="email" name="email" required  placeholder="Введите email"> </p>
  <p><input type="password" name="pass" placeholder="Введите пароль"></p>
  <p> <input type="password" required placeholder="Повторите пароль" name="psw-repeat"></p>
  <label>
    <input type="checkbox" checked="checked" name="remember" class="remember" > Запомнить меня
  </label>
  <time-button
    [text]="'Sign Up'">
  </time-button>

  <div class="is-sign-in">
    <p
      (click)="isHaveAccount()">
      Already have an account? You can log in
    </p>
  </div>

</div>
</ng-container>

<ng-template #signIn>
  <div class="registration">
    <h1 class="heading" style="border-bottom: solid 2px #C0C0C0;"> Log In </h1>
    <input type="text" name="name" required  placeholder="Введите имя">
    <p><input type="email" name="email" required  placeholder="Введите email"> </p>
    <p><input type="password" name="pass" placeholder="Введите пароль"></p>
    <label>
      <input type="checkbox" checked="checked" name="remember" class="remember" > Запомнить меня
    </label>
    <time-button
      [text]="'Sign In'">
    </time-button>
    <div class="is-sign-in">
      <p
        (click)="isHaveAccount()">
        Don't have an account? You can sign up
      </p>
    </div>

  </div>
</ng-template>
